

.flexbox {
    background-color: white;
    border: 5px solid red;
    max-width: 1000px;
    height: 328px;
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.flexbox div {
    background-color: white;
    width: 220px;
    height: 270px;
    justify-content: space-between;
    margin: 25px 15px 15px;
    /* padding: 15px 15px 15px 15px; */
    /* border: 5px solid orange; */
}

.img002_MB {
margin-top: 50px;
}

.flexbox div h3 {
    font-size: 20px;
    text-align: center;
    margin: -25px;    
}

.flexbox div p {
    font-size: 18px;
    text-align: justify;
    margin-top: 228px;
}

.img001_BM {
    background-image: url(Imagem/img001_BM.jpg);
    background-size: 1024px;
    width: 1024px;
    height: 488px;
    background-repeat: no-repeat;
    background-position: center left;    
}

.img002_BM {
    background-image: url(Imagem/img002_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img003_BM {
    background-image: url(Imagem/img003_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img004_BM {
    background-image: url(Imagem/img004_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img005_BM {
    background-image: url(Imagem/img005_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}