body {
    background-color: #ccc;
    font-size: 18px;
    /* font-family: sans-serif; */
    width: 1000px;
    height: auto;
}
.img001_BM{
    background-image: url(Imagem/img001_BM.jpg);
    width: 1024px;
    height: 488px;
}
.img002_BM{
    background-image: url(Imagem/img002_BM.jpg);
    width: 250px;
    height: 192px;
}
.img003_BM{
    background-image: url(Imagem/img003_BM.jpg);
    width: 250px;
    height: 192px;
}
.img004_BM{
    background-image: url(Imagem/img004_BM.jpg);
    width: 250px;
    height: 192px;
}
.img-left{
    float: left;
}
.img-right{
    float: right;
}