body {
    background-color: #ccc;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.hero {    
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-flow: row wrap;
    /* flex-direction: row-reverse; */
}

.header__hero {
    background-color: black;
    width: 1000px;
    height: 50px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;  
}

.header__logo {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration:overline underline;
    text-shadow: 3px 2px 1px black;
    margin-left: 16px;   
}

.header__nav {
    margin: 0 25px;
}

.header__nav .unordered-list {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    gap: 25px;
    margin: 0 25px;
}

.header__nav a {
    color: white;
    width: 100px;
    height: 100px;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    padding: 14px;
}

.header__nav a:hover {
    color: yellow;
}

.header__img {
    background-image: url(Imagem/img001_BM.jpg);
    background-size: cover;
    width: 1000px;
    height: 470px;
    background-repeat: no-repeat;
    background-position: center left;    
}

.header__title {
    color: white;
    font-size: 62px;
    text-transform:none;
    text-align: right;
    text-shadow: 2px 2px 2px black;
    width: 300px;
    height: 290px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 55px;
    margin: 150px 0 0 630px;
        
}


.flexbox {
    max-width: 1000px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-flow: row wrap;
    /* flex-direction: row-reverse; */
}

.flexbox div {
    background-color: white;
    width: 220px;
    height: 270px;
    min-width: 100px;
    justify-content: space-between;
    margin: 25px 15px 15px;
    /* padding: 15px 15px 15px 15px; */
    /* border: 5px solid orange; */
}

.flex-container02 {
    background-color: white;
    max-height: 350px;
    max-width: 1000px;
    min-width: 200px;    
}

.flex-container02 div {
    width: 200px;
    max-height: 100px;
    min-width: 100px;
}

.txtcenter {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px grey;
}

.justified {
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
    text-transform: none;
    margin: 10px 50px 20px;
}

.flex-container03 {
    background-color: white;
    max-height: 650px;
    max-width: 1000px;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    flex-flow: row wrap;
}


.flex-container04 {
    color: white;
    background-color: #003d52;
}

.img002_MB {
margin-top: 50px;
}

.flexbox div h3 {
    font-size: 20px;
    text-align: center;
    margin: -25px;    
}

.flexbox div p {
    font-size: 18px;
    text-align: justify;
    margin-top: 228px;
}

.img002_BM {
    background-image: url(Imagem/img002_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img003_BM {
    background-image: url(Imagem/img003_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img004_BM {
    background-image: url(Imagem/img004_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.img005_BM {
    background-image: url(Imagem/img005_BM.jpg);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}